<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/spaceapp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spaceapp_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceApp"
        tools:targetApi="33"
        android:networkSecurityConfig="@xml/network_security_config" >

        <activity android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".ChangePasswordActivity" />

        <activity android:name=".dev.DevMainActivity" />
        <activity android:name=".org.OrgMainActivity" />
        <activity android:name=".user.UserMainActivity" />

        <activity android:name=".dev.DevCreateOrgActivity" />
        <activity android:name=".dev.DevCreateUserActivity" />

        <activity android:name=".dev.CreateDevActivity" />

        <activity android:name=".create.CreateStaffUserActivity" />
        <activity android:name=".create.CreateNonStaffUserActivity" />
        <activity android:name=".docscenter.notice.CreateNoticePdfActivity" />
        <activity android:name=".docscenter.notice.CreateNoticeEnterDataActivity" />

        <activity android:name=".create.CreateDepartmentActivity" />
        <activity android:name=".create.CreateCourseActivity" />
        <activity android:name=".create.CreateBatchActivity" />
        <activity android:name=".community.CreateCommunityActivity" />

        <activity android:name=".dev.DevProfileActivity" />
        <activity android:name=".user.UserProfileActivity" />
        <activity android:name=".org.OrgProfileActivity" />

        <activity android:name=".displaypic.ChangeDisplayPicActivity" />
        <activity android:name=".displaypic.DisplayPicActivity" />

        <activity android:name=".chatting.privatechat.PrivateChatRoomActivity" />
        <activity android:name=".chatting.privatechat.PrivateChatActivity" />

        <activity android:name=".docscenter.notice.NoticeBoardActivity" />
        <activity android:name=".docscenter.notice.NoticeActivity" />

        <activity android:name=".dev.DevListXYZActivity" />
        <activity android:name=".chatting.privatechat.AddChatActivity" />

        <activity android:name=".user.UserDetailActivity" />
        <activity android:name=".org.OrgDetailActivity" />

        <activity android:name=".community.CommunityActivity" />

        <activity android:name=".user.OtherUserProfileActivity" />

        <activity android:name=".community.jitsimeet.JoinMeetActivity" />
        <activity android:name=".community.jitsimeet.InitiateMeetActivity" />
        <activity android:name=".community.jitsimeet.MeetActivity" />

        <activity android:name=".docscenter.DocumentCenterActivity" />
        <activity android:name=".user.ERPActivity" />
        <activity android:name=".user.UserSettingsActivity" />

    </application>

</manifest>