<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="finalyearproject.is7.spaceapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/spaceapp_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/spaceapp_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpaceApp"
        tools:targetApi="33">

        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity"
            android:exported="true" />

        <activity android:name=".dev.DevMainActivity"
            android:exported="false"/>
        <activity android:name=".org.OrgMainActivity"
            android:exported="false"/>
        <activity android:name=".user.UserMainActivity"
            android:exported="false"/>

        <activity android:name=".dev.DevCreateOrgActivity"
            android:exported="false"/>
        <activity android:name=".dev.DevCreateUserActivity"
            android:exported="false"/>

        <activity android:name=".dev.CreateDevActivity"
            android:exported="false"/>

        <activity android:name=".create.CreateStaffUserActivity"
            android:exported="false"/>
        <activity android:name=".create.CreateNonStaffUserActivity"
            android:exported="false"/>
        <activity android:name=".create.CreateNoticeActivity"
            android:exported="false"/>

        <activity android:name=".dev.DevProfileActivity"
            android:exported="false"/>
        <activity android:name=".user.UserProfileActivity"
            android:exported="false"/>
        <activity android:name=".org.OrgProfileActivity"
            android:exported="false"/>

        <activity android:name=".displaypic.ChangeDisplayPicActivity"
            android:exported="false"/>
        <activity android:name=".displaypic.DisplayPicActivity"
            android:exported="false"/>

        <activity android:name=".PrivateChatRoomActivity"
            android:exported="false"/>
        <activity android:name=".PrivateChatActivity"
            android:exported="false"/>

        <activity android:name=".NoticeBoardActivity"
            android:exported="false"/>
        <activity android:name=".NoticeActivity"
            android:exported="false"/>

        <activity android:name=".dev.DevListXYZActivity"
            android:exported="false"/>
        <activity android:name=".AddChatActivity"
            android:exported="false"/>

        <activity android:name=".user.UserDetailActivity"
            android:exported="false"/>
        <activity android:name=".org.OrgDetailActivity"
            android:exported="false"/>

        <activity android:name=".GroupActivity"
            android:exported="false"/>

    </application>

</manifest>